astroid==2.11.7
certifi==2022.6.15.1
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
configparser==5.2.0
dataclasses==0.8
dill==0.3.4
extensions==0.4
Flask==2.0.3
Flask-Cors==3.0.10
idna==3.3
importlib-metadata==4.8.3
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.7.0
platformdirs==2.4.0
pylint==2.13.9
python-dotenv==0.20.0
requests==2.27.1
six==1.16.0
stripe==4.1.0
tomli==1.2.3
tomlkit==0.11.4
typed-ast==1.5.4
typing_extensions==4.1.1
urllib3==1.26.12
Werkzeug==2.0.3
wrapt==1.14.1
zipp==3.6.0
